.R:hover {
  color: #ff0000;
}

.A:hover {
  color: #ff7f00;
}
.I:hover {
  color: #ffff00;
}
.N:hover {
  color: #00ff00;
}
.B:hover {
  color: #00ffff;
}
.O:hover {
  color: #0000ff;
}
.W:hover {
  color: #8b00ff;
}
