.R:hover {
  color: red;
}

.A:hover {
  color: orange;
}
.I:hover {
  color: yellow;
}
.N:hover {
  color: green;
}
.B:hover {
  color: blue;
}
.O:hover {
  color: indigo;
}
.W:hover {
  color: violet;
}
