header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  transition: 0.6s;
  background: #000;
  box-sizing: border-box;
}

header a p {
  color: white;
}

header img {
  height: 35px;
}
