@import "colorSubtitle.css";

@font-face {
  font-family: Bazar;
  src: url(../fonts/Bazar.ttf);
}

body#home {
  overflow: hidden;
  background: #1a250f url("../img/leafdesenho.png") no-repeat;
  background-size: cover;
}

.container {
  max-width: 1297px;
  display: flex;
  margin: 0 auto;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 100vh;
}

.home .title {
  padding: 20px 0;
  z-index: 2;
  text-align: center;
}

.home h1 {
  font-family: Bazar;
  font-size: 10em;
  color: #73b34d;
}

.home h2 {
  font-family: Bazar;
  font-size: 7em;
  color: #73b34d;
  border-radius: 4px;
  padding: 20px;
}

.home h2 span {
  opacity: 0.7;
}

.home h2 span:hover {
  opacity: 1;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
}

canvas {
  position: absolute;
  z-index: 1;
}

@media (max-width: 1297px) {
  .home h1 {
    font-size: 8em;
  }

  .home h2 {
    font-size: 5.5em;
  }
}

@media (max-width: 940px) {
  .home h1 {
    font-size: 6em;
  }

  .home h2 {
    font-size: 4em;
  }
}

@media (max-width: 800px) {
  .home h1 {
    font-size: 5.5em;
  }

  .home h2 {
    font-size: 3.5em;
  }
}

@media (max-width: 700px) {
  .home h1 {
    font-size: 5em;
  }

  .home h2 {
    font-size: 3em;
  }
}

@media (max-width: 590px) {
  .container {
    display: grid;
    grid-template-columns: 1/-1;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 0;
  }

  .home h1 {
    font-size: 4em;
  }

  .home h2 {
    font-size: 2em;
  }
}

@media (max-width: 300px) {
  .home h1 {
    font-size: 3em;
  }

  .home h2 {
    font-size: 1.5em;
  }
}
