* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slide-wrapper {
  overflow: hidden;
  position: relative;
}

.slide {
  list-style: none;
  display: flex;
  height: 100vh;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 100vw;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 20px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

[data-control='slide'] {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  list-style: none;
}

[data-control='slide'] li a {
  display: block;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 50%;
  overflow: hidden;
  text-indent: -999px;
  margin: 5px;
}

[data-control='slide'] li.active a,
[data-control='slide'] li a:hover {
  background: gray;
}

.prev,
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  padding: 12px;
  background: url('../img/arrow.svg') center center no-repeat;
  height: 60%;
  margin: auto 12px;
  background-color: #333;
  opacity: 70%;
  border-radius: 3px;
}

.prev {
  left: 0;
  transform: rotate(180deg);
}

.next {
  right: 0;
}
