* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.slide-wrapper {
  overflow: hidden;
  position: relative;
}

.slide {
  list-style: none;
  display: flex;
  height: 100vh;
}

.slide:hover {
  will-change: transform;
}

.slide li {
  width: 100vw;
  flex-shrink: 0;
  border-radius: 4px;
  overflow: hidden;
  margin: 0 20px;
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.slide-preview {
  display: flex;
  justify-content: center;
}

[data-control='slide'] {
  display: flex;
  gap: 20px;
  list-style: none;
  position: absolute;
  top: 75%;
}

[data-control='slide'] li {
  opacity: 25%;
}

[data-control='slide'] li.active,
[data-control='slide'] li:hover {
  opacity: 100%;
}

[data-control='slide'] img {
  height: 100px;
  width: 100px;
  border-radius: 4px;
}

.prev,
.next {
  position: absolute;
  top: 0;
  bottom: 0;
  opacity: 0.8;
  padding: 12px;
  background: url('../img/arrow.svg') center center no-repeat;
  height: 60%;
  margin: auto 12px;
  background-color: #333;
  opacity: 70%;
  border-radius: 3px;
}

.prev {
  left: 0;
  transform: rotate(180deg);
}

.next {
  right: 0;
}

@media (max-width: 920px) {
  [data-control='slide'] img {
    height: 65px;
    width: 65px;
  }
  .prev,
  .next {
    height: 45%;
  }
}

@media (max-width: 630px) {
  [data-control='slide'] img {
    height: 45px;
    width: 45px;
  }

  .prev,
  .next {
    height: 30%;
    margin: auto 8px;
    padding: 8px;
  }
}

@media (max-width: 450px) {
  [data-control='slide'] {
    gap: 8px;
  }
}
