.color-change-7x {
  -webkit-animation: color-change-7x 8s linear infinite alternate both;
  animation: color-change-7x 8s linear infinite alternate both;
}

.colorFont-change-7x {
  -webkit-animation: colorFont-change-7x 8s linear infinite alternate both;
  animation: colorFont-change-7x 8s linear infinite alternate both;
}

@-webkit-keyframes color-change-7x {
  0% {
    background: #e1251b;
  }
  15% {
    background: #ff6000;
  }
  30% {
    background: #fffc7f;
  }
  45% {
    background: #03a678;
  }
  60% {
    background: #007aff;
  }
  75% {
    background: #111e90;
  }
  100% {
    background: #2b0062;
  }
}
@keyframes color-change-7x {
  0% {
    background: #e1251b;
  }
  15% {
    background: #ff6000;
  }
  30% {
    background: #fffc7f;
  }
  45% {
    background: #03a678;
  }
  60% {
    background: #007aff;
  }
  75% {
    background: #111e90;
  }
  100% {
    background: #2b0062;
  }
}

@-webkit-keyframes colorFont-change-7x {
  0% {
    color: #ff0000;
  }
  15% {
    color: #ff7f00;
  }
  30% {
    color: #ffff00;
  }
  45% {
    color: #00ff00;
  }
  60% {
    color: #00ffff;
  }
  75% {
    color: #0000ff;
  }
  100% {
    color: #8b00ff;
  }
}
@keyframes colorFont-change-7x {
  0% {
    color: #ff0000;
  }
  15% {
    color: #ff7f00;
  }
  30% {
    color: #ffff00;
  }
  45% {
    color: #00ff00;
  }
  60% {
    color: #00ffff;
  }
  75% {
    color: #0000ff;
  }
  100% {
    color: #8b00ff;
  }
}
