.green-bg {
  background: url("../../img/sobre/green/verde-bg.svg") center no-repeat;
  background-size: cover;
}
.green {
  display: flex;
  justify-content: start;
  align-items: flex-end;
  flex-direction: column;
  background: url("../../img/sobre/green/verde.png") left bottom no-repeat;
  background-size: contain;
  height: 100%;
}
.green .green-info {
  padding: 12px;
  text-align: end;
}

.green .green-info h1 {
  font-size: 10rem;
  color: #fff;
  margin-bottom: 64px;
}

.green .green-info p {
  font-size: 3.5rem;
  width: 20ch;
}

@media (max-width: 1190px) {
  .green .green-info p {
    font-size: 2.6rem;
    width: 18ch;
  }
}

@media (max-width: 980px) {
  .green .green-info h1 {
    margin-bottom: 24px;
  }
}

@media (max-width: 980px) {
  .green .green-info h1 {
    font-size: 7rem;
  }
}
