.indigo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url(../../img/sobre/indigo/bgIndigo.svg) no-repeat bottom left;
  background-size: cover;
}

.indigo .title-indigo {
  color: #fff;
  font-size: 10rem;
  letter-spacing: 1rem;
  transform: rotate(-20deg);
  position: absolute;
  top: 32px;
  left: 32px;
}

.indigo-right p,
.indigo-left p {
  color: #fff;
  width: 50%;
  font-size: 1.5rem;
  margin-top: 80px;
}

.indigo-left {
  display: flex;
  justify-content: center;
}

.indigo-left p {
  align-self: center;
}
.indigo picture {
  position: absolute;
  width: 25%;
  height: 25%;
  left: 25%;
  top: 20%;
}

.indigo .indigo-right {
  background: url(../../img/sobre/indigo/chameleonIndigo.png) no-repeat bottom
    left;
  background-size: contain;
  display: start;
}

@media (max-width: 960px) {
  .indigo .title-indigo {
    font-size: 7.5rem;
  }

  .indigo-right p,
  .indigo-left p {
    font-size: 1.25rem;
  }
}

@media (max-width: 740px) {
  .indigo .title-indigo {
    top: 80px;
  }

  .indigo picture {
    width: 30%;
    height: 25%;
    left: 15%;
    top: 45%;
  }

  .indigo-right p,
  .indigo-left p {
    width: 80%;
    font-size: 1.1rem;
    margin-bottom: 64px;
  }

  .indigo-left {
    display: flex;
    align-self: flex-end;
  }

  .indigo-right {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 450px) {
  .indigo picture {
    width: 50%;
    height: 25%;
    left: 45%;
    top: 60%;
  }

  .indigo-right p,
  .indigo-left p {
    width: 70%;
    font-size: 1rem;
    margin-bottom: 64px;
  }
}
