.orange {
  background: url("../../img/sobre/orange/circleOrange.svg") no-repeat center
    top;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.orange .orange-content {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.orange .orange-content h3 {
  font-size: 2.5rem;
  text-align: center;
}

.orange .orange-content p {
  font-size: 2rem;
  text-align: center;
}

.orange .orange-content p span {
  color: #ff6000;
  font-weight: bold;
}

.orange .orange-content ul {
  list-style: none;
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;
}

.orange .orange-content ul li {
  background-color: #ff6000;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #000;
  font-weight: bold;
}

.orange .orange-content ul lI:nth-child(odd) {
  transform: rotate(-5deg);
}

.orange .orange-content ul lI:nth-child(even) {
  transform: rotate(5deg);
}

.orange .orange-left {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.orange .orange-left img,
.orange .orange-right img {
  height: auto;
  max-width: 100%;
}

@media (max-width: 930px) {
  .orange .orange-content h3 {
    font-size: 1.8rem;
  }

  .orange .orange-content p {
    font-size: 1.4rem;
  }
}

@media (max-width: 930px) {
  .orange .orange-content h3 {
    font-size: 1.5rem;
  }

  .orange .orange-content p {
    font-size: 1rem;
  }
  .orange .orange-content ul li {
    font-size: 0.8rem;
  }

  .orange .orange-content ul {
    gap: 45px;
  }
}

@media (max-width: 630px) {
  .orange .orange-content h3 {
    font-size: 1.3rem;
  }
  .orange .orange-content ul {
    gap: 20px;
  }
}

@media (max-width: 500px) {
  .orange {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .orange .orange-right {
    display: none;
  }
  .orange .orange-left {
    grid-row-start: 2;
    width: 50%;
  }
}
