.red {
  background-image: linear-gradient(to right, #e1251b 50%, #fafafa 50%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.red .imagem {
  background: url("/img/sobre/redChameleonCenter.png") no-repeat center;
  background-size: contain;
}

.red .red-info,
.red .red-associacao {
  align-self: center;
  padding: 60px;
}

.red .red-info h3 {
  margin-bottom: 24px;
  font-size: 4rem;
}

.red .red-info p {
  font-size: 1.4rem;
}

.red .red-info .red-destaque {
  color: white;
  font-weight: bold;
  letter-spacing: 4px;
}

.red .red-associacao {
  height: 100%;
  background: url("/img/sobre/danger.png") no-repeat bottom;
  background-size: contain;
  display: flex;
  align-items: center;
}

.red .red-associacao p {
  font-size: 1.7rem;
}

.red .red-associacao .red-destaque {
  color: red;
}

@media (max-width: 1150px) {
  .red .red-info,
  .red .red-associacao {
    align-self: center;
    padding: 40px;
  }

  .red .red-info h3 {
    margin-bottom: 24px;
    font-size: 3.5rem;
  }

  .red .red-info p {
    font-size: 1.2rem;
  }

  .red .red-associacao p {
    font-size: 1.4rem;
  }
}

@media (max-width: 965px) {
  .red .red-info,
  .red .red-associacao {
    align-self: center;
    padding: 20px;
  }
  .red .red-info h3 {
    margin-bottom: 24px;
    font-size: 2.5rem;
  }

  .red .red-info p {
    font-size: 1rem;
  }

  .red .red-associacao p {
    font-size: 1.1rem;
  }
}

@media (max-width: 685px) {
  .red {
    background-image: linear-gradient(to right, #e1251b 50%, #fafafa 50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .red .red-info {
    text-align: center;
  }

  .red .red-info p {
    font-size: 1.3rem;
  }

  .red .red-associacao {
    background-position: bottom right;
  }

  .red .red-associacao p {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .red .red-destaque {
    color: black !important;
    font-weight: bold;
  }
}
