@font-face {
  font-family: Bazar;
  src: url(../fonts/Bazar.ttf);
}

#sobre {
  overflow: auto;
}

#sobre header {
  position: fixed;
  border: none;
  background: transparent;
  width: 100%;
}

section {
  height: 100vh;
}

.orange {
  background-color: #fff !important;
}

.yellow {
  background: #fffc7f;
}

.green {
  background: #03a678;
}

.blue {
  background: #007aff;
}

.indigo {
  background: #111e90;
}

.violat {
  background: #2a0d3d;
}
