.yellow {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: url("/img/sobre/yellow/yellowBg.svg") no-repeat center;
  background-size: cover;
  background-color: #fff;
}

.yellow .yellow-content {
  padding: 80px 160px;
}

.yellow .yellow-content h3 {
  font-size: 5rem;
  padding-bottom: 40px;
}

.yellow .yellow-content p {
  font-size: 2rem;
}

.yellow .yellow-content p span {
  font-size: 2rem;
  background-color: #ff0;
  border: 1px solid #000;
  padding: 0px 4px;
  border-radius: 5px;
  font-weight: bold;
}

.yellow .yellow-image {
  background: url("/img/sobre/yellow/yellowChameleonSobre.png") no-repeat bottom;
  background-size: contain;
}
